* {
  box-sizing: border-box;
}

body {
  background: #aaa;
}

header {
  border: 2px solid cyan;
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: 200px 1fr;
  min-height: 100vh;
}

.game {
  border: 2px solid magenta;
  position: relative;
}

.popup {
  background: rgba(24, 24, 24, 0.9);
  border: 2px solid yellow;
  color: #ffe;
  position: absolute;
  user-select: none;
  width: 144px;
}

.popup.hidden {
  visibility: hidden;
}

.popup.visible {
  visibility: visible;
}

.popup img {
  height: 40px;
}

.popup span {
  align-items: center;
  border: 2px solid red;
  display: flex;
}

.wimmel {
  max-width: 100%;
  min-width: 800px;
}
